.userInfoBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.2);
}

.userInfo {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.34);
    border-radius: 5px;
    padding: 100px;
    max-width: 800px;
    top: 30px;
    bottom: 30px;
    left:30px;
    right: 30px;
    margin: 0 auto;
    overflow: auto;
}

.userInfoContent {
    max-width: 600px;
    margin: 0 auto;
}

.headline {
    text-align: center;
    font-style: oblique;
    margin: 15px;
}

.profileImg{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button{
    color: white;
    background: #548235;
    border-radius: 5px;
    padding: 7px 20px 7px 20px;
    float: bottom;
    border-style: none;
    font-family: "Arial Nova", sans-serif;
    margin: 10px;
}
.saveButton{
    float: left;
}
.cancelButton{
    float: right;
}

.buttonBox{
    float: bottom;
}

.preferences{
    text-align: center;
}
.logoutButton{

}