.img{
    z-index: 1;
    margin-top: 7px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: #417552;
}

.textContainer {
  text-align: center;
  border: #417552;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
}

.recipeName {
  color: black;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  box-shadow: 1px 1px 3px #417552;
}

.recipeContainer{
    z-index: 1;
    align: center;
    display: flex;
    flex-direction: column;
    border: 1px;
    background-color: white;
    margin-bottom: 2%;
}

.recipeDescription {
  color: black;
  display: flex;
  flex-direction: column;
  text-align: right;
}
