.img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightblue;
}

.recipeName{
    color: black;

}

.recipeContainer{
    align: center;
    display: flex;
    flex-direction: column;
}

.recipeDescription{
    color: black;
}
