@keyframes slideIn {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0);
  }
}

.registrationFormBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.2);
}

.registrationForm {
  z-index: 2;
  transition: transform 500ms;
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.34);
  border-radius: 5px;
  padding: 70px 90px 70px 90px;
  max-width: 1100px;
  top: 120px;
  bottom: 120px;
  left: 30px;
  right: 30px;
  margin: 0 auto;
  overflow: auto;
}

@media only screen and (max-height: 800px) {
  .registrationForm {
    z-index: 2;
    transition: transform 500ms;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.34);
    border-radius: 5px;
    padding: 70px 90px 70px 90px;
    max-width: 1100px;
    top: 70px;
    bottom: 70px;
    left: 30px;
    right: 30px;
    margin: 0 auto;
    overflow: auto;
  }
}

.registrationFormContext {
  max-width: 600px;
  margin: 0 auto;
  float: left;
}

.headline {
  text-align: right;
  font-weight: bold;
  font-size: 28px;
  margin: 5%;
  padding: 0 5% 10% 5%;
  float: top;
  font-family: var(--primary-font);
  color: var(--font-color);
}

button {
  color: white;
  background: var(--primary-color);
  border-radius: 5px;
  padding: 7px 20px 7px 20px;
  float: bottom;
  border-style: none;
  font-family: var(--primary-font);
  margin: 10px;

}

.registerButton {
  position: relative;
  left: 110%;
  top: 85%;
}

.cancelButton {
  position: relative;
  right: 250%;
  background-color: var(--secondary-color);
}

.bottomButtons {
  float: bottom;
  padding: 25px;
  margin: 10px;

}

.buttonBox {
  padding: 20px 10px 30px 20px;
  margin: 10px;
  float: right;
  position: absolute;
  right: 4%;

}

.fieldBox {
  float: left;
  padding: 10% 3% 10% 3%;
}

.infotext {
  padding: 30px 0 30px 0;
  margin: 15px;
  font-size: 14px;
  font-family: var(--primary-font);
  color: var(--font-color);
}

.image {
  float: left;
  margin: 0;
  padding: 0 8% 0 0;
  width: 400px;
  height: 400px;
}

.textbox {
  float: top;
  text-align: center;
  margin-top: 100px;
  margin-left: 400px;
  padding: 0 0 0 5%;
}
