.registrationFormBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.2);
}

.registrationForm {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.34);
    border-radius: 5px;
    padding: 100px 160px 100px 160px;
    max-width: 800px;
    top: 30px;
    bottom: 30px;
    left:30px;
    right: 30px;
    margin: 0 auto;
    overflow: auto;
}

.registrationFormContext {
    max-width: 600px;
    margin: 0 auto;
    float: left;
}

.headline {
    text-align: center;
    font-style: oblique;
    font-size: 28px;
    margin: 10px;
    padding: 80px 150px 50px 150px;
    float:top;
}

button{
    color: white;
    background: #548235;
    border-radius: 5px;
    padding: 7px 20px 7px 20px;
    float: bottom;
    border-style: none;
    font-family: "Arial Nova", sans-serif;
    margin: 10px;
}
.registerButton{
    float: left;
}
.cancelButton{
    float: right;
}
.bottomButtons{
    float: bottom;
    padding: 20px;
}

.buttonBox{
    padding: 22px 10px 30px 20px;
    margin: 10px;
    float: right;
}

.fieldBox{
    float: left;
    padding: 30px 10px 30px 10px;
}
.infotext{
    padding: 30px 0 30px 0;
    margin: 15px;
    font-size: 14px;
}
