.registerLabel {
    float: bottom;
    font-size: 11pt;
    margin-left: 20px;
}

.registerLink {
    color: #417552;
    font-size: 11pt;
    float: bottom;
}

.loginButton {
    width: 248px;
    color: white;
    background: #417552;
    border-radius: 5px;
    padding: 5px 35px 5px 35px;
    border-style: none;
    font-family: "Arial Nova", sans-serif;
}

.loading {
    padding-left: 45%;
}

.errorMessage {
    position: absolute;
    margin-top: 4%;
    margin-left: 60px;
    color: #C24844;
    font-size: 9pt;
    text-align: center;
    float: right;
}
