.registerLabel {
  float: bottom;
  font-size: 11pt;
  margin-left: 20px;
  font-family: var(--primary-font);
  color: var(--font-color);
}

.registerLink {
  color: var(--primary-color);
  font-size: 11pt;
  float: bottom;
  font-family: var(--primary-font);
}

.loginButton {
  width: 248px;
  color: white;
  background: var(--primary-color);
  border-radius: var(--border-radius);
  padding: 5px 35px 5px 35px;
  border-style: none;
  font-family: var(--primary-font);
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.loginButton:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #417552;
  border-radius: 10rem;
  z-index: -2;
}
.loginButton:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #30543b;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.loginButton:hover {
  color: #fff;
}
.loginButton:hover::before {
  width: 100%;
}

.loading {
  padding-left: 45%;
}

.errorMessage {
  position: absolute;
  margin-top: 4%;
  margin-left: 60px;
  color: var(--error-red);
  font-size: 9pt;
  text-align: center;
  float: right;
}
