.flex {
    display: flex;

}

.left {
    flex: 1 1 70%;
}

.right {
    flex: 1 1 30%;
}

.searchParameters{
    display: inline;
}

.leftPart{
     width: 30%;
     float: left;
    margin-right: 2%;
 }

.rightPart{
    width: 30%;
    float: right;
}

.results{
    width: 100%;
}

