.suggestion {
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0 rgba(117, 117, 117, 0.38);
  padding: 5px;
  margin: 10px auto;
  width: 49%;
  text-align: left;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  color: var(--font-color);
  background-color: white;
}

.suggestion:hover {
  background-color: #ececec;
}
