.recipe{
    text-align: left;
    display: block;
    right: 5%;
    left: 2%;

}

.Container {
    z-index: 3;
    display: flex;
    padding: 1px;
    align-items: stretch;
    left: 2%;
    right: 10%;
    margin-left: 2%;
    margin-right: 10%;
    margin-bottom: 2%;
}

@keyframes slideIn {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0);
  }
}

.preferences {
    text-align: left;
    margin-right: 2%;
    margin-left: 98%;
    margin-top: 2%;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
}

.label{
    text-align: left;
}

.preparation {
}

.ingredients {
}

.textContainer {
    text-align: left;
    border: #417552;
    border-radius: 1px;
    flex-direction: column;
    left: 160px;
    margin-left: auto;
    margin-bottom: 2%;
    display: compact;
    margin-top: 2%;
}

.headlines {
    font-size: 14px;
    right: 10%;
}

.Button {
  position: absolute;
  right: 2%;
  top: 2%;
}

.recipeFormBackdrop {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.2);
}

.recipeContext {
    max-width: 600px;
    margin: 0 auto;
    float: left;
}

.recipeForm {
    z-index: 3;
    transition: transform 500ms;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.34);
    border-radius: 5px;
    padding: 70px 90px 70px 90px;
    max-width: 900px;
    top: 130px;
    bottom: 130px;
    left:30px;
    right: 30px;
    margin: 0 auto;
    overflow: auto;

}
