.dotRed {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.dotGreen {
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.dotPos {
    margin-right: 100px;
    margin-top: 2%;
    margin-bottom: 2%;
}