.headline {
  font-family: var(--primary-font);
  color: var(--font-color);
  font-size: 22px;
  margin: 0 30% 5px 30%;
  text-align: center;
}

.description {
  font-family: var(--primary-font);
  font-size: 14px;
  color: var(--font-color);
  margin: 0 30% 5px 30%;
  text-align: center;
}

.noResults {
  width: 100%;
}
