.footer, .footer a {
    background-color:  #417552;
    color: white;
    bottom: 0px;
    position: relative;
    width: 90%;
    margin-bottom:0px ;
    padding-left: 10%;
    z-index: 1;
    float: bottom;


}
.flex {
  display: flex;
}
.elementLeft {
  flex: 1 1 50%;

  float: left;
}

.footerTitle {
  float: left;
  margin-left: 20%;
}

.elementRight {
  flex: 1 1 50%;
  float: right;
}
