.footer,
.footer a {
  background-color: #417552;
  color: white;
  bottom: 0;
  position: relative;
  width: 100%;
  margin-top: 400px;
  margin-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 0;
  float: bottom;
  font-family: var(--primary-font);
}

@media only screen and (max-height: 800px) {
  .footer,
  .footer a {
    background-color: #417552;
    color: white;
    bottom: 0;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 0;
    float: bottom;
    font-family: var(--primary-font);
  }
}
.flex {
  display: flex;
}
.elementLeft {
  flex: 1 1 50%;

  float: left;
}

.footerTitle {
  float: left;
  margin-left: 20%;
}

.elementRight {
  flex: 1 1 50%;
  float: right;
}
