.footer, .footer a {
    background-color: #548235;
    color: white;
    bottom: 0px;
    position: absolute;
    width: 80%;
    margin-bottom:0px ;
    padding-left:10%;
    padding-right:10%;
}
.flex {
    display: flex;
}
.elementLeft {
    flex: 1 1 50%;

    float: left;
}

.footerTitle{
    float: left;
    margin-left: 20%;
}

.elementRight {
    flex: 1 1 50%;
    float: right;
}