.centerInput{
    width: 50%;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1%;

}

.input{
    border-radius: 20px;
    margin: 1em;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #548235;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 18.5%;
}

.headerText{
    margin-top: 5em;
    text-align: center;
}

.ingredientSearch{
    text-align: center;
}

.search{
    border-radius: 20px;
    margin: 1em;
    padding-left: 16.5%;
    padding-right: 16.5%;
    background-color: darkgreen;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 40%;
}