.loginWindow{
    border-radius: 5px;
    float: right;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.34);
    padding: 20px;
    margin-top: 80px;
    background-color: white;
}

Input{
    border-radius: 5px;
    float: right;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.34);
    padding: 5px;
    margin: 5px;
    border: 0;
}
Input:focus{
    border-color: #afafaf;
}
