Input {
  border-radius: var(--border-radius);
  width: 250px;
  float: right;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.34);
  padding: 5px;
  margin: 5px;
  border: 0;
  font-family: var(--primary-font);
  color: var(--font-color);
}

Input:focus {
  border: 2px solid var(--secondary-color);
  outline: none;
}

.error {
  margin: 0 0 0 25px;
  color: #c24844;
  font-size: 8pt;
  text-align: center;
  float: left;
  font-family: var(--primary-font);
}
