.wrapper {
  background-color: rgba(227, 227, 227, 0.78);
  overflow: hidden;
}

.page {
  position: relative;
  height: 100vh;
  margin-bottom: 1000px;
  background-color: darkgreen;
}

.body {
  height: 100%;
  background-color: rgba(227, 227, 227, 0.78);
}
